.input{
    font-family: Arial;
    color: black;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 0.4px;
}  :focus{
    outline: none;
}
.inputSizeS{
    font-size:12px;
}
.inputSizeM{
    font-size:16px;
}
.inputSizeL{
    font-size:22px;
}


.container{
    float: bottom ;
    width: 27.33%;
    margin: 20px 0;
    position: relative;
}
.inputText {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #cccccc;
    background-color: transparent;
}
.inputText ~ .focusBorder{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
}
.inputText:focus ~ .focusBorder{
    width: 100%;
    transition: 0.4s;
}
.inputText ~ .labelText{
    font-family: Arial;
    font-size: 12px;
    position: absolute;
    left: 0;
    width: 100%;
    top: -16px;
    color: #aaaaaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.4px;
}
.inputText ~ .labelTextSizeS{
    font-size: 10px;
    left: 0;
    top: -16px;
    letter-spacing: 0.4px;
}
.inputText ~ .labelTextSizeM{
    font-size: 12px;
    left: 0;
    top: -16px;
    letter-spacing: 0.4px;
}
.inputText ~ .labelTextSizeL{
    font-size: 14px;
    left: 0;
    top: -16px;
    letter-spacing: 0.4px;
}

.inputText:focus ~ .labelText{
    font-family: Arial;
    color: #4b8f29;
    letter-spacing: 0.4px;
}
